*{
	background-color:seashell;
}
ul li {
	list-style-type:square;
}
a:link{
	color:red;
}
a:visited{
	color:green;
}
a:hover{
	color:blue;
}
a:active{
	color:pink;
}
caption{
	font-weight: bold;
}
th{
	font-weight:normal;
	font-style:italic;
}
td{
	font-size:14px;
	font-family:sans serif;
	vertical-align:top;
}
dl div{
	border : 3px solid yellow;
	width:50%;
	position:absolute;
	top:200px;
}

